<launch>

    <arg name="project" default="liorf_localization"/>
    
    <!-- Parameters -->
    <rosparam file="$(find liorf_localization)/config/localization.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find liorf_localization)/launch/include/module_loam.launch" />

    <!--- Run Rviz-->
    <include file="$(find liorf_localization)/launch/include/module_rviz.launch" />

</launch>
